<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- VO에 대한 정의 -->
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias alias="DTO"   type="com.sist.totoro.common.DTO"/>
 		<typeAlias alias="AtmVo"   type="com.sist.totoro.domain.AtmVo"/>
 		<typeAlias alias="SearchVO" type="com.sist.totoro.common.SearchVO"/>
 	 	<typeAlias alias="CrossVO" type="com.sist.totoro.domain.CrossVO"/>
 	 	<typeAlias alias="UserVO" type="com.sist.totoro.domain.UserVO"/>
 	 	<typeAlias alias="CodeVO" type="com.sist.totoro.code.CodeVO"/>
 	
 	</typeAliases>	
</configuration>